<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
</style>
<meta charset="UTF-8">
<title>View All Animals</title>
</head>
<body>
    <p><button onclick="sortTableByName()">Sort by Name</button>  <button onclick="sortTableByAge()">Sort by Age</button>
        <button onclick="sortTableByType()">Sort by Type</button>  <button onclick="sortTableByAvailable()">Sort by Availability</button>
        <button onclick="sortTableByAttributes()">Sort by Attributes</button></p>
    <form>
        <table id="animalList">
            <tr>
                <th>Id</th>
                <th>Animal Name</th>
                <th>Age</th>
                <th>Animal Type</th>
                <th>Available for Adoption</th>
                <th>Last Fed</th>
                <th>Description</th>
                <th>Attributes</th>
            </tr>
            <tr th:each="currentAnimal : ${animals}">
                <td th:text="${currentAnimal.id}" />
                <td th:text="${currentAnimal.name}">
                <td th:text="${currentAnimal.age}">
                <td th:text="${currentAnimal.animalType}">
                <td th:text="${currentAnimal.available}">
                <td th:text="${currentAnimal.lastFedDate} + ', ' + ${currentAnimal.lastFedTime}">
                <td th:text="${currentAnimal.description}">
                <td align="center">
                    <table>
                        <tr th:each="animalAttribute : ${currentAnimal.listOfAttributes}">
                            <td align="center" th:text="${animalAttribute.attributeName}">
                    </table>
                </td>
                <td><a th:href="@{/editAnimalAvailability/{id}(id=${currentAnimal.id})}">Change Availability</a></td>
                <td><a th:href="@{/lastFed/{id}(id=${currentAnimal.id})}">Update Last Fed</a></td>
                <td><a th:href="@{/viewDescription/{id}(id=${currentAnimal.id})}">View Description</a></td>
                <td><a th:href="@{/editAnimal/{id}(id=${currentAnimal.id})}">Edit</a></td>
                <td><a th:href="@{/deleteAnimal/{id}(id=${currentAnimal.id})}">Delete</a></td>
            </tr>
        </table>
    </form>
    <a href="../inputAnimal">Add a New Animal</a><br /><br />
    <a href="../index.html">Home Page</a>
<script>
function sortTableByName() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("animalList");
  switching = true;
  while (switching) {
    switching = false;
    rows = table.rows;
    for (i = 1; i < (rows.length - 1); i++) {
      shouldSwitch = false;
      x = rows[i].getElementsByTagName("TD")[1];
      y = rows[i + 1].getElementsByTagName("TD")[1];
      if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
        shouldSwitch = true;
        break;
      }
    }
    if (shouldSwitch) {
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}
</script>
<script>
function sortTableByAge() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("animalList");
  switching = true;
  while (switching) {
    switching = false;
    rows = table.rows;
    for (i = 1; i < (rows.length - 1); i++) {
      shouldSwitch = false;
      x = rows[i].getElementsByTagName("TD")[2];
      y = rows[i + 1].getElementsByTagName("TD")[2];
      if (Number(x.innerHTML) > Number(y.innerHTML)) {
        shouldSwitch = true;
        break;
      }
    }
    if (shouldSwitch) {
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}
</script>
<script>
function sortTableByType() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("animalList");
  switching = true;
  while (switching) {
    switching = false;
    rows = table.rows;
    for (i = 1; i < (rows.length - 1); i++) {
      shouldSwitch = false;
      x = rows[i].getElementsByTagName("TD")[3];
      y = rows[i + 1].getElementsByTagName("TD")[3];
      if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
        shouldSwitch = true;
        break;
      }
    }
    if (shouldSwitch) {
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}
</script>
<script>
function sortTableByAvailable() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("animalList");
  switching = true;
  while (switching) {
    switching = false;
    rows = table.rows;
    for (i = 1; i < (rows.length - 1); i++) {
      shouldSwitch = false;
      x = rows[i].getElementsByTagName("TD")[4];
      y = rows[i + 1].getElementsByTagName("TD")[4];
      if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
        shouldSwitch = true;
        break;
      }
    }
    if (shouldSwitch) {
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}
</script>
<script>
function sortTableByAttributes() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("animalList");
  switching = true;
  while (switching) {
    switching = false;
    rows = table.rows;
    for (i = 1; i < (rows.length - 1); i++) {
      shouldSwitch = false;
      x = rows[i].getElementsByTagName("TD")[7];
      y = rows[i + 1].getElementsByTagName("TD")[7];
      if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
        shouldSwitch = true;
        break;
      }
    }
    if (shouldSwitch) {
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}
</script>
</body>
</html>