<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert New Adopter</title>
</head>
<body>
	<form th:object="${newAdopter}" th:action="@{/updateAdopter/{id}(id=${newAdopter.id})}" method='POST'>
		Adopter Name: <input name="name" size="20" th:field="*{name}" required> <br /><br />
		Email: <input name="email" size="20" th:field="*{email}" required> <br /><br />
		Phone: <input name="phone" size="20" th:field="*{phone)" required> <br /><br />
		Animal Attributes: <br />
		<table>
			<tr>
				<th></th>
				<th>Attribute Name</th>
			</tr>
			<tr th:each="currentAnimalAttribute : ${animalAttributes}">
				<td> <input type="checkbox" th:name="animalAttributeId" th:field="*{listOfAttributes}" th:value="$currentAnimalAttribute.id}">
				<td th:text="${currentAnimalAttribute.attributeName}">
			</tr>
		</table>
		
		<input name="submit" type="submit" value="Submit" />
	</form>
	<br /><br />
	<a href="../viewAllAdopters">View all Adopters</a><br /><br />
	<a href="../index.html">Home Page</a>
</body>
</html>